logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
RUNNING_PID
.settings
bin
.cache
.target
.worksheet
*.h2.db
*.trace.db
*.lock.db
public/bower_components/
test-dbs/
*~
*shim.sbt
phantomjsdriver.log
webcache/
luceneIndex/
