.navbar-static-top {
  margin-bottom: 19px;
}

.center-vert {
  vertical-align: middle !important;
}

.center-horiz {
  text-align: center;
}

td {
  vertical-align: middle !important;
}

th {
  vertical-align: middle !important;
}

th.group-col {
  vertical-align: middle !important;
}

th.name-col {
  vertical-align: middle !important;
}

th.last-passfail-col {
  vertical-align: middle !important;
  text-align: center;
  width: 110px;
}

td.last-passfail-cell {
  vertical-align: middle !important;
  text-align: center;
}

th.pass-fail-col {
  vertical-align: middle !important;
  text-align: center;
  width: 64px;
}

td.pass-fail-cell {
  text-align: center;
  vertical-align: middle !important;
}

th.exec-time-col {
  width: 140px;
  text-align: center;
}

td.exec-time-cell {
  text-align: center;
  vertical-align: middle !important;
}

th.consecutive-failures-col {
  width: 100px;
  text-align: center;
}

td.consecutive-failures-cell {
  text-align: center;
  vertical-align: middle !important;
}

th.failing-since-col {
  width: 100px;
  text-align: center;
}

td.failing-since-cell {
  text-align: center;
  vertical-align: middle !important;
}

th.duration-col {
  width: 120px;
  text-align: center;
}

td.duration-cell {
  text-align: center;
  vertical-align: middle !important;
}

th.time-col {
  width: 120px;
  text-align: center;
}

td.time-cell {
  text-align: center;
  vertical-align: middle !important;
}

th.execution-links-col {
  width: 140px;
  text-align: center;
}

td.execution-links-cell {
  text-align: center;
  vertical-align: middle !important;
}

th.counts-col {
  width: 32px;
  text-align: center;
}

td.counts-cell {
  text-align: center;
  vertical-align: middle !important;
}

th.batch-name-col {
  
}

td.batch-name-cell {
  vertical-align: middle !important;
}

th.url-col {
  width: 120px;
  text-align: center;
}

td.url-cell {
  text-align: center;
  vertical-align: middle !important;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #609000;
}
.badge-success:hover {
  background-color: #407000;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

/* Batches */

.pass-bar {
  background: rgb(191,210,85); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.fail-bar {
  background: rgb(255,163,163); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,163,163,1) 0%, rgba(219,0,3,1) 50%, rgba(153,0,2,1) 52%, rgba(219,0,3,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,163,163,1)), color-stop(50%,rgba(219,0,3,1)), color-stop(52%,rgba(153,0,2,1)), color-stop(100%,rgba(219,0,3,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,163,163,1) 0%,rgba(219,0,3,1) 50%,rgba(153,0,2,1) 52%,rgba(219,0,3,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,163,163,1) 0%,rgba(219,0,3,1) 50%,rgba(153,0,2,1) 52%,rgba(219,0,3,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,163,163,1) 0%,rgba(219,0,3,1) 50%,rgba(153,0,2,1) 52%,rgba(219,0,3,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,163,163,1) 0%,rgba(219,0,3,1) 50%,rgba(153,0,2,1) 52%,rgba(219,0,3,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa3a3', endColorstr='#db0003',GradientType=0 ); /* IE6-9 */
}

footer {
    padding-top: 6px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -32px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: 32px; /* .push must be the same height as .footer */
}