.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
  /* float: left; */
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: .5;
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}