th.configuration-col {
  vertical-align: middle !important;
  text-align: center;
  width: 120px;
}

td.configuration-cell {
  vertical-align: middle !important;
  text-align: center;
}

.tag {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 1px;
  padding-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
  line-height: 28px;
}

.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: .5;
}

.tag .remove {
  vertical-align: middle;
}

.tag a {
  margin: 0 0 0 0;
}

.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}
