@()(implicit flash: Flash, globalViewContext: GlobalViewContext)

@scripts = {
  <script src="@routes.Assets.at("javascripts/admin.js")"></script>
}

@main("Admin", "Admin", scripts = scripts) {

  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4>Warning!</h4>
    This page contains advanced administration features. Please don't use unless you know what you're doing!
  </div>
    
  <h2>Admin</h2>

  <form role="form" id="delete-all-form" style="margin-bottom: 6px;" name="delete" action="@routes.AdminController.deleteAll()" method="post">
    <button id="delete-all-button" class="btn btn-default" type="button" onclick="deleteAll()"><i class="glyphicon glyphicon-trash"></i> Delete all data</button>
  </form>

  <form role="form" id="analyse-all-form" style="margin-bottom: 6px;" name="delete" action="@routes.AdminController.analyseAll()" method="post">
    <button id="analyse-all-button" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-signal"></i> Analyse all tests</button>
  </form>

}
