@(batches: List[BatchView], jobIdOpt: Option[Id[JenkinsJob]], configurationOpt: Option[Configuration], jobs: List[JenkinsJob], pagination: PaginationData, hideChartInitially: Boolean)(implicit flash: Flash, request: RequestHeader, globalViewContext: GlobalViewContext)

@scripts = {
  <script src="@routes.Assets.at("javascripts/chart-utils.js")"></script>
  <script src="@routes.Assets.at("javascripts/batches.js")"></script>
}

@css = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/batches.css")">
}

@batchesPaginationWidget = { 
  @paginationWidget(pagination)((page, pageSize) => 
    routes.Application.batches(job = jobIdOpt, page = Some(page), pageSize = Some(pageSize))) 
}

@main("Batches", "Batches", scripts = scripts, css = css) {

@if(batches.isEmpty) {

  @noResultsYet()

} else {

  <h2>Batches</h2>
  
  <div style="margin-bottom: 12px;" class="row">
    <div class="col-md-4">

      <table style="margin-top: 7px;" class="table table-striped table-bordered table-hover">
        <tr>
          <td style="width: 220px">Number of batches recorded</td>
          <td>@batches.size</td>
        </tr>
      </table>
      <form id="filter-form" role="form" action="@routes.Application.batches()">
        <div class="form-group">
          <label for="job-select">Jenkins Job</label>
          <select name="job" id="job-select" class="form-control">
            <option value="">All</option>
            @for(job <- jobs) {
              <option value="@job.id" @if(Some(job.id) == jobIdOpt){selected}>@job.name</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="configuration-select">Configuration</label>
          <select name="configuration" id="configuration-select" class="form-control">
            <option value="">All</option>
            @for(configuration <- globalViewContext.configurations) {
              <option value="@configuration" @if(Some(configuration) == configurationOpt){selected}>@configuration</option>
            }
          </select>
        </div>
        <button id="filterBatches" type="submit" class="btn btn-default">Filter Batches</button>
      </form>
      
      <button style="margin-bottom: 12px; margin-top: 12px" id="deleteSelected" type="button" class="btn btn-default" title="Delete selected batches" onclick="deleteSelected('@routes.Application.deleteBatches()')"><i class="glyphicon glyphicon-trash"></i> Delete Selected</button>
      
    </div>
    <div class="col-md-8">
      
      <div id="batch-chart" class="pull-right not-shown">
	      @if(hideChartInitially) {
	        <div id="chart-hidden-message" align="center">
	          Large data set, chart hidden by default.<br/>
	          <button style="margin-bottom: 12px; margin-top: 12px" id="showChart" type="button" class="btn btn-default" title="Show chart" onclick="showChart()"><i class="glyphicon glyphicon-picture"></i> Show Chart</button>
	        </div>
	      }
      </div>
			  <script>
			    $(document).ready(function(){
			      var batchUrls = [ @for(batch <- batches) { "@routes.Application.batch(batch.id)", } ];
			      var passes = [
			        @for(batch <- batches) {
			          [ new Date(@batch.epochMillis), @batch.passCount ],
			        }
			      ];
			      var fails = [
			        @for(batch <- batches) {
			          [ new Date(@batch.epochMillis), @batch.failCount ],
			        }  
			      ];
			      saveChartData(batchUrls, passes, fails);
                              @if(!hideChartInitially) {
                                createPassFailChart();
                              }
			    });
			  </script>
    </div>
  </div>

    
  @batchesPaginationWidget
  
  <form style="margin-bottom: 0px; display: inline" id="batchActionForm" action="nope" method="post">
    <input type="hidden" name="previousURL" value="@request.uri"/>
    
	  <table class="table table-striped table-bordered table-hover table-condensed">
	    <thead>
	      <tr>
	        <th style="text-align: center"><input class="batchCheckbox" id="selectAll" type="checkbox" title="Select all"/></th>
	        <th class="pass-fail-col"></th>
	        <th class="batch-name-col">Name</th>
                <th class="configuration-col">Configuration</th>
	        <th class="time-col">Date</th>
	        <th class="url-col">External Link</th>
	        <th class="duration-col">Duration</th>
	        <th class="">Pass vs Fail</th>
	        <th class="counts-col">Passed</th>
	        <th class="counts-col">Failed</th>
	        <th class="counts-col">Total</th>
	      </tr>
	    </thead>
	    <tbody>
	      @for(batch <- batches.drop(pagination.startFrom).take(pagination.pageSize)) {
	        <tr class="batch-row" id="batch-@batch.id">
	          <td style="text-align: center; width: 50px"><input class="batchCheckbox" type="checkbox" name="selectedBatch" value="@batch.id"/></td>
	          <td class="pass-fail-cell"><a class="pass-fail-icon" href="@routes.Application.batch(batch.id)"><img src="@routes.Assets.at("images/" + batch.passFailBallIcon)" alt="@batch.passFailText" title="@batch.passFailText"/></a></td>
	          <td class="batch-name-cell">@for(name <- batch.nameOpt){ <a href="@routes.Application.batch(batch.id)">@name</a> }</td>
                  <td class="configuration-cell">@for(configuration <- batch.configurationOpt){<a href="@routes.Application.tests(configuration = Some(configuration))">@configuration</a>}</td>
	          <td class="time-cell"><span title="@batch.executionTime.absolute">@batch.executionTime.relative</span></td>
	          <td class="url-cell">@for(url <- batch.urlOpt){<a href="@url">External Link</a>}</td>
	          <td class="duration-cell">@for(duration <- batch.durationOpt) { @duration }</td>
	          <td style="position: relative"><div style="position: relative; height: 48px;"><div class="pass-bar" style="float: left; width: @batch.passPercent%; height: 48px;"></div><div class="fail-bar" style="float: right; width: @batch.failPercent%; height: 48px;"></div></div></td>
	          <td class="counts-cell">
	            @if(batch.passCount > 0) {
	              <a href="@routes.Application.batch(batch.id, passed = Some(true))"><span class="badge badge-success">@batch.passCount</span></a>
	            }
	          </td>
	          <td class="counts-cell">
	            @if(batch.failCount > 0) {
	              <a href="@routes.Application.batch(batch.id, passed = Some(false))"><span class="badge badge-error">@batch.failCount</span></a>
	            }
	          </td>
	          <td class="counts-cell">
	            <a href="@routes.Application.batch(batch.id)"><span class="badge badge-inverse">@batch.totalCount</span></a>
	          </td>
	        </tr>
	      }
	    <tbody>
	  </table>

  </form>

  @batchesPaginationWidget

}
  
}
