@(specs: List[CiImportSpecView])(implicit flash: Flash, globalViewContext: GlobalViewContext)

@css = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ciImportSpecs.css")">
}

@main("CI Imports", "CiImports", css = css) {

<h2>CI Imports</h2>  

 @if(specs.isEmpty) {

    <div class="panel panel-info">
      <div class="panel-heading">No CI imports set up</div>
      <div class="panel-body">
        There are no CI servers yet set up to import results from. <a href="@routes.CiController.newCiImportSpec()">Configure a new CI import</a>.
      </div>
    </div>

 } else {

  <table style="margin-top: 20px" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Job</th>
        <th class="view-log-col">View&nbsp;import&nbsp;log</th>
        <th class="last-checked-col">Last checked</th>
        <th class="polling-interval-col">Polling interval</th>
        <th class="import-console-col">Import console log?</th>
        <th class="configuration-col">Configuration</th>
        <th colspan=3></th>
      </tr>
    </thead>
    <tbody>
      @for(spec <- specs) {
        <tr>
          <td class=""><a href="@spec.jobUrl">@spec.jobName <i class="fa fa-external-link"></i></a></td>
          <td class="view-log-cell"><a href="@routes.CiController.getCiImportSpec(spec.id)">Log</a></td>
          <td class="last-checked-cell">
          @if(spec.inProgress) {
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 50%"></div>
            </div>
          } else { 
	    @spec.lastCheckedOpt.getOrElse("-")
          }
          </td>
          <td class="polling-interval-cell">@spec.pollingInterval</td>
          <td class="import-console-cell">@if(spec.importConsoleLog) { <i class="glyphicon glyphicon-ok"></i> }</td>
          <td class="configuration-cell">@spec.configuration</td>
          <td class="configure-cell"><a href="@routes.CiController.editCiImportSpec(spec.id)">Configure</a></td>
          <td class="sync-cell">
            <form action="@routes.CiController.syncJenkins(spec.id)" method="post">
              <button class="btn btn-default" title="Check for new builds now"><i class="glyphicon glyphicon-refresh"></i> Sync</button>
            </form>
          </td>
          <td class="delete-cell">
            <form action="@routes.CiController.deleteCiImportSpec(spec.id)" method="post">
              <button class="btn btn-default" title="Permanently delete this Jenkins import"><i class="glyphicon glyphicon-trash"></i> Delete</button>
            </form>
          </td>
        </tr>
      }
      <tr>
        <td colspan="9" style="text-align: center">
           <a href="@routes.CiController.newCiImportSpec"><i class="glyphicon glyphicon-plus"></i> Add new</a>
        </td>
      </tr>
    </tbody>
  </table>

}
}
