@(testsSummaries: List[TestsSummaryView], historicalTestCountTimelines: Map[Configuration, HistoricalTestCountsTimelineView])(implicit flash: Flash, request: RequestHeader, globalViewContext: GlobalViewContext)

@css = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chart-common.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/configurations.css")">
}

@scripts = {
  <script src="@routes.Assets.at("javascripts/chart-utils.js")"></script>
  <script src="@routes.Assets.at("javascripts/configurations.js")"></script>
  <script src="@routes.Assets.at("javascripts/pass-fail-pie-chart.js")"></script>
  <script src="@routes.Assets.at("javascripts/history-chart.js")"></script>
}

@main("Configurations", "Configurations", css = css, scripts = scripts) {

@if(globalViewContext.noData) {

  @noResultsYet()

} else {

  <h2>Configurations</h2>

  <table style="margin-top: 18px" id="executionsTable" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="pass-fail-col"><!--  ball icon --></th>
        <th class="configuration-col">Configuration</th>
        <th></th>
        <th class="configuration-count-col">Healthy</th>
        <th class="configuration-count-col">Warning</th>
        <th class="configuration-count-col">Broken</th>
        <th class="configuration-count-col">Total</th>
        <th class="pie-col"></th>
      </tr>
    </thead>
    <tbody>
    @for((testsSummary, index) <- testsSummaries.zipWithIndex) {
      <tr>
        <td class="pass-fail-cell"><img src="@routes.Assets.at("images/" + testsSummary.ballIcon)"/></td>
        <td class="configuration-cell"><a href="@routes.Application.tests(configuration = Some(testsSummary.configuration))">@testsSummary.configuration</a></td>
        <td>
          <div id="history-chart-@index" style="width: 480px; height: 120px">
            @if(!historicalTestCountTimelines.contains(testsSummary.configuration)){
            <div align="center">
              <i style="margin-top: 48px" class="glyphicon glyphicon-picture"></i> Data not yet available
            </div>
            }
          </div>
          @for(historicalTestCounts <- historicalTestCountTimelines.get(testsSummary.configuration)) {
          <script>
             $(document).ready(function(){
               var passes = [
                 @for((time, count) <- historicalTestCounts.passes) {
                   [ new Date(@time), @count ],
                 }
               ];
               var warnings = [
                 @for((time, count) <- historicalTestCounts.warnings) {
                   [ new Date(@time), @count ],
                 }
               ];
               var fails = [
                 @for((time, count) <- historicalTestCounts.failures) {
                   [ new Date(@time), @count ],
                 }
               ];
               createHistoryChart("history-chart-@index", passes, warnings, fails);
             });

          </script>
          }
        </td>
        <td class="configuration-count-cell">@if(testsSummary.passCount > 0){<a href="@routes.Application.tests(configuration = Some(testsSummary.configuration), status = Some(TestStatus.Healthy))"><span class="badge badge-success">@testsSummary.passCount</span></a>}</td>
        <td class="configuration-count-cell">@if(testsSummary.warnCount > 0){<a href="@routes.Application.tests(configuration = Some(testsSummary.configuration), status = Some(TestStatus.Warning))"><span class="badge badge-warning">@testsSummary.warnCount</span></a>}</td>
        <td class="configuration-count-cell">@if(testsSummary.failCount > 0){<a href="@routes.Application.tests(configuration = Some(testsSummary.configuration), status = Some(TestStatus.Broken))"><span class="badge badge-error">@testsSummary.failCount</span></a>}</td>
        <td class="configuration-count-cell"><a href="@routes.Application.tests(configuration = Some(testsSummary.configuration))"><span class="badge badge-inverse">@testsSummary.totalCount</span></a></td>
        <td class="pie-cell"><div id="pie-chart-@index" style="width: 120px; height: 120px"></div></td>
	      <script>
	        $(document).ready(function(){
	          createPieChart("pie-chart-@index",
	            {
	              pass: @testsSummary.passCount,
	              warn: @testsSummary.warnCount,
	              fail: @testsSummary.failCount,
	            },
	            {
	              pass: "@routes.Application.tests(configuration = Some(testsSummary.configuration), status = Some(TestStatus.Healthy))",
	              warn: "@routes.Application.tests(configuration = Some(testsSummary.configuration), status = Some(TestStatus.Warning))",
	              fail: "@routes.Application.tests(configuration = Some(testsSummary.configuration), status = Some(TestStatus.Broken))",
	            }, false
	          );
	        });
	      </script>
      </tr>
    }
    </tbody>
  </table>

}
  
}

