@(execution: ExecutionView)(implicit flash: Flash, globalViewContext: GlobalViewContext)

@main("Test Execution", "Execution") {
  
  <h2><img src="@routes.Assets.at("images/" + execution.passFailBallIcon)" alt="@execution.passFailText" title="@execution.passFailText"/> Test Execution</h2>

    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <td>Name</td>
        <td><a id="test-name" href="@routes.Application.test(execution.testId, configuration = Some(execution.configuration))">@execution.name.full</a></td>
      </tr>
      @for(group <- execution.groupOpt) {
        <tr><td>Group</td><td id="test-group">@{group.full}</td></tr>
      }
      <tr>
        <td>Batch</td>
        <td><a id="batch-name" href="@routes.Application.batch(execution.batchId)">@execution.batchName</a></td>
      </tr>
      @for(summary <- execution.summaryOpt) {
        <tr><td>Summary</td><td id="execution-summary">@summary.full</td></tr>
      }  
      <tr>
        <td>Date</td>
        <td>@execution.executionTime.absolute (@execution.executionTime.relative)</td>
      </tr>
      @for(duration <- execution.durationOpt) {
        <tr><td>Duration</td><td>@duration</td></tr>
      }
      <tr><td>Configuration</td><td><a id="configuration-link" href="@routes.Application.tests(configuration = Some(execution.configuration))">@execution.configuration</a></td></tr>
   </table>
   
   @for(log <- execution.logOpt) {
     <h3>Log</h3>
     <pre id="log">@log</pre>
   }

}