@(title: String, currentPage: String, scripts: Html = Html(""), css: Html = Html(""))(content: Html)(implicit flash: Flash, globalViewContext: GlobalViewContext)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    <title>@title</title>

    <link rel="stylesheet" href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap-theme.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("bower_components/fontawesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("bower_components/typeahead.js-bootstrap3.less/typeahead.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    @css
    
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")?v=3">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="@routes.Assets.at("bower_components/jQuery/dist/jquery.min.js")"></script>
    <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("bower_components/bootbox/bootbox.js")"></script>
    <script src="@routes.Assets.at("bower_components/flot/jquery.flot.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bower_components/flot/jquery.flot.time.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bower_components/flot/jquery.flot.stack.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bower_components/flot/jquery.flot.pie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bower_components/flot/jquery.flot.selection.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bower_components/flot-axislabels/jquery.flot.axislabels.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("bower_components/typeahead.js/dist/typeahead.bundle.min.js")" type="text/javascript"></script>
    @scripts
  </head>
  <body>
    <div class="wrapper">
    <!-- Static navbar -->
    <div id="navbar" class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button id="collapsed-navbar" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@routes.Application.index()">Test Reporty Thing</a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="@if(currentPage == "Dashboard") {active}"><a id="menu-configurations" href="@routes.Application.configurations()"><span class="fa fa-dashboard"></span> Dashboard</a></li>
            @if(globalViewContext.configurations.size > 1) {
              <li class="dropdown @if(currentPage == "Tests") {active}">
                <a id="menu-tests" href="#" class="dropdown-toggle" data-toggle="dropdown">Tests <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  @for(configuration <- globalViewContext.configurations) {
                    <li><a class="configuration-menu-item" href="@routes.Application.tests(configuration=Some(configuration))">@configuration</a></li>
                  }
                </ul>
              </li>
            }
            @if(globalViewContext.singleConfigurationMode) {
              <li class="@if(currentPage == "Tests") {active}"><a id="menu-tests" href="@routes.Application.tests(configuration=globalViewContext.configurations.headOption)">Tests</a></li>
            } 
            <li class="@if(currentPage == "Batches") {active}"><a id="menu-batches" href="@routes.Application.batches()">Batches</a></li>
            <li class="@if(currentPage == "Executions") {active}"><a id="menu-executions" href="@routes.Application.executions()">Executions</a></li>
            <li class="@if(currentPage == "SearchLogs") {active}"><a id="menu-search-logs" href="@routes.Application.searchLogs()"><span class="glyphicon glyphicon-search"></span> Search Logs</a></li>
            <li class="dropdown @if(currentPage == "Reports") {active}">
              <a id="menu-reports" href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a id="stale-tests-report" href="@routes.Application.staleTests()">Stale Tests</a></li>
                <li><a id="deleted-tests" href="@routes.Application.deletedTests()">Deleted Tests</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a id="menu-config" href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Settings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a id="menu-config-system" href="@routes.Application.editSystemConfiguration()">System</a></li>
                <li class="divider"></li>
                <li><a id="menu-config-ci-imports" href="@routes.JenkinsController.ciImportSpecs()">CI Imports</a></li>
                <li><a id="menu-config-jenkins" href="@routes.JenkinsController.auth()">Jenkins</a></li>
                <li><a id="menu-config-teamcity" href="#">TeamCity</a></li>
                <li class="divider"></li>
                <li><a id="menu-config-admin"  href="@routes.Application.admin()">Admin</a></li>
              </ul>
            </li>
          </ul>
        </div> <!-- /.nav-collapse-->
        
      </div>
    </div>


    <div id="page-@currentPage" class="container">

      @for(message <- flash.get("success")) {
        <div id="alert-success" class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Success</h4>
          <span class="alert-message">@message</span>
          @for(url <- flash.get("link")) { <a href="@url" class="alert-link">(Link)</a> }
        </div>  
      }

      @for(message <- flash.get("error")) {
        <div id="alert-error" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Error</h4>
          <span class="alert-message">@message</span>
          @for(url <- flash.get("link")) { <a href="@url" class="alert-link">(Link)</a> }
        </div>  
      }

      @content

    </div> <!-- /container -->
  <div class="push"></div>
  </div> <!-- wrapper -->
  <footer role="contentinfo"> <!-- see http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ -->
    <div class="container">
      <p><a href="https://github.com/thetestpeople/trt/wiki">Test Reporty Thing</a> @com.thetestpeople.trt.buildKeys.BuildInfo.version</p>
    </div>
  </footer>
  </body>
</html>
