@(queryOpt: Option[String], executions: Seq[ExecutionView], pagination: PaginationData)(implicit flash: Flash, request: RequestHeader, globalViewContext: GlobalViewContext)

@resultsPaginationWidget = { 
  @paginationWidget(pagination)((page, pageSize) => 
    routes.Application.searchLogs(
      query = queryOpt, 
      page = Some(page), 
      pageSize = Some(pageSize))) 
}

@css = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/executions.css")">
}

@scripts = {
}

@main("Search Logs", "SearchLogs", scripts = scripts, css = css) {

  <h2>Search Logs</h2>

   <form id="search-logs-form" role="form" method="get" action="@routes.Application.searchLogs()">
     <div class="form-group">
       <input name="query" id="query-field" value="@{queryOpt.getOrElse("")}" class="form-control" type="text" placeholder="Search logs"/>
     </div>
     <button id="search-button" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Search</button>
   </form>
  
@if(executions.nonEmpty) {
  <h3>Results</h3>

  @resultsPaginationWidget
  
  <table id="executionsTable" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="pass-fail-col"></th>
        <th class="exec-time-col">Date</th>
        <th class="duration-col">Duration</th>
        <th>Group</th>
        <th>Name</th>
        <th>Configuration</th>
        <th>Summary</th>
        <th class="execution-links-col">Execution</th>
        <th class="execution-links-col">Batch</th>
      </tr>
    </thead>
    <tbody>
    @for(execution <- executions) {
      <tr class="execution-row">
        <td class="pass-fail-cell"><a class="pass-fail-icon" href="@routes.Application.execution(execution.id)"><img src="@routes.Assets.at("images/" + execution.passFailIcon)" alt="@execution.passFailText" title="@execution.passFailText"/></a></td>
        <td class="exec-time-cell"><span title="@execution.executionTime.absolute">@execution.executionTime.relative</span></td>
        <td class="duration-cell">@for(duration <- execution.durationOpt) { @duration }</td>
        <td class="center-vert">@for(group <- execution.groupOpt) { <a href="@routes.Application.tests(configuration = Some(execution.configuration), group = Some(group.full))"><span class="execution-group" title="@group.full">@group.abbreviate(maxLength = 35)</span></a> }</td>
        <td class="center-vert"><a class="execution-name" href="@routes.Application.test(execution.testId, configuration = Some(execution.configuration))" title="@execution.name.full">@execution.name.abbreviate(maxLength = 40)</a></td>
        <td class="center-horiz center-vert"><a href="@routes.Application.tests(configuration = Some(execution.configuration))">@execution.configuration</a></td>
        <td class="center-vert">@for(summary <- execution.summaryOpt) { <a href="@routes.Application.execution(execution.id)"><span title="@summary.full">@summary.abbreviated</span></a> }</td>
        <td class="execution-links-cell"><a class="execution-link" href="@routes.Application.execution(execution.id)">Execution</a></td>
        <td class="execution-links-cell"><a href="@routes.Application.batch(execution.batchId)">@execution.batchName</a></td>
      </tr>
     @for(fragment <- execution.fragmentOpt) {
       <tr class="fragment-row">
         <td colspan="9"><pre>@Html(fragment)</pre></td>
       </tr>
     }
    }
    </tbody>
  </table>

  @resultsPaginationWidget

} else { @if(queryOpt.isDefined) {

<br/>
<div class="panel panel-info">
  <div class="panel-heading">No results found</div>
  <div class="panel-body">
    No executions found matching your search query.
  </div>
</div>

}

}

}
