@(confForm: Form[SystemConfiguration])(implicit flash: Flash, messages: Messages, globalViewContext: GlobalViewContext)

@import BootstrapHelpers._

@main("System Configuration", "System Configuration") {
  
  <h2>System Configuration</h2>

  @helper.form(routes.Application.updateSystemConfiguration(), 'role -> "form") {

    @helper.inputText(confForm("projectName"), 
      'class -> "form-control",
      'placeholder -> "Project name",
      '_label -> "Project name",
      '_help -> "Name of project being tested.")

    <h3><img src="@routes.Assets.at("images/balls/red.png")"/> Broken status</h3>    
    
    @helper.inputText(confForm("brokenDurationThreshold"), 
      'class -> "form-control",
      'placeholder -> "Duration threshold",
      '_label -> "Duration threshold",
      '_help -> "How long a test must have been failing before it is classified as Broken, rather than a Warning (e.g. 6 hours, 1 day, etc.)")
    
    @helper.inputText(confForm("brokenCountThreshold"), 
      'class -> "form-control",
      'placeholder -> "Count threshold",
      '_label -> "Count threshold",
      '_help -> "Number of consecutive failures required before a test is classed as Broken, rather than a Warning")
        
    <h3><img src="@routes.Assets.at("images/balls/green.png")"/> Healthy status</h3>    
    @helper.inputText(confForm("healthyDurationThreshold"), 
      'class -> "form-control",
      'placeholder -> "Duration threshold",
      '_label -> "Duration threshold", 
      '_help -> "How long a test must have been passing before it is classified as Healthy, rather than a Warning (e.g. 6 hours, 1 day, etc.)")
    
    @helper.inputText(confForm("healthyCountThreshold"), 
      'class -> "form-control",
      'placeholder -> "Count threshold",
      '_label -> "Count threshold", 
      '_help -> "Number of consecutive passes required before a test is classed as Healthy, rather than a Warning")
        
    <div class="form-actions">
      <button id="update" type="submit" class="btn btn-primary">Update</button>
      <a id="cancel" href="@routes.Application.index" class="btn btn-default" role="button">Cancel</a>
    </div>
	
  }

}
