@(
  testsSummary: TestsSummaryView, 
  tests: Seq[TestView], 
  configuration: Configuration, 
  testStatusOpt: Option[TestStatus], 
  nameOpt: Option[String], 
  groupOpt: Option[String],
  categoryOpt: Option[String],
  canRerun: Boolean, 
  pagination: PaginationData,
  sortOpt: Option[Sort],
  descendingOpt: Option[Boolean])(implicit flash: Flash, request: RequestHeader, globalViewContext: GlobalViewContext)

@scripts = {
  <script src="@routes.Assets.at("javascripts/typeahead.js")"></script>
  <script src="@routes.Assets.at("javascripts/pass-fail-pie-chart.js")"></script>
  <script src="@routes.Assets.at("javascripts/history-chart.js")"></script>
  <script src="@routes.Assets.at("javascripts/tests.js")"></script>
}

@css = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tests.css")">
}

@testsPaginationWidget = { 
  @paginationWidget(pagination)((page, pageSize) => 
    routes.Application.tests(
      configuration = Some(configuration), 
      status = testStatusOpt, 
      name = nameOpt,
      group = groupOpt,
      category = categoryOpt,
      page = Some(page), 
      pageSize = Some(pageSize),
      sort = sortOpt,
      descending = descendingOpt)) 
}

@maybeHideFilters = {
  @if(nameOpt.isEmpty && groupOpt.isEmpty && categoryOpt.isEmpty) { display: none; }
}

@testsLink(status: TestStatus) = {@routes.Application.tests(configuration = Some(configuration), status = Some(status), name = nameOpt, group = groupOpt, sort = sortOpt, category = categoryOpt, descending = descendingOpt)}

@sortLink(sort: Sort) = {
  @if(sortOpt.getOrElse(Sort.Group) == sort) {
    @if(descendingOpt.getOrElse(false)) {
      <a class="sort-link" href="@routes.Application.tests(configuration = Some(configuration), status = testStatusOpt, name = nameOpt, group = groupOpt, sort = Some(sort))">
        <i class="fa fa-sort-desc"></i>
      </a> 
    } else {
      <a class="sort-link" href="@routes.Application.tests(configuration = Some(configuration), status = testStatusOpt, name = nameOpt, group = groupOpt, sort = Some(sort), descending = Some(true))">
        <i class="fa fa-sort-asc"></i>
      </a> 
    } 
  } else {
    <a class="sort-link" href="@routes.Application.tests(configuration = Some(configuration), status = testStatusOpt, name = nameOpt, group = groupOpt, sort = Some(sort))">
      <i class="fa fa-sort"></i>
    </a> 
  }
}

@main(if(globalViewContext.multipleConfigurationMode) "Tests: " + configuration else "Tests", "Tests", scripts = scripts, css = css) {

  <h2><img src="@routes.Assets.at("images/" + testsSummary.ballIcon)"/> Tests</h2>
  
    <div class="row">
    <div class="col-md-9">
      <table style="margin-top: 15px" class="table table-striped table-bordered table-hover">
        @if(globalViewContext.multipleConfigurationMode) {
          <tr>
            <td class="headings-table-column">Configuration</td>
            <td>
              <form id="configuration-form" action="@routes.Application.tests(configuration = Some(configuration), status = testStatusOpt, name = nameOpt, group = groupOpt, category = categoryOpt, sort = sortOpt, descending = descendingOpt)" method="get">
                @for(name <- nameOpt) { <input name="name" value="@name" type="hidden"/> }
                @for(group <- groupOpt) { <input name="group" value="@group" type="hidden"/> }
                @for(category <- categoryOpt) { <input name="category" value="@category" type="hidden"/> }
                @for(status <- testStatusOpt) { <input name="status" value="@status" type="hidden"/> }
                <select id="configuration-select" class="form-control" name="configuration">
                  @for(otherConfiguration <- globalViewContext.configurations) {
                    <option value="@otherConfiguration" @if(configuration == otherConfiguration){selected}>@otherConfiguration</option>
                  }
                </select>
              </form>
            </td>
          </tr>
        }
        <tr>
          <td>Counts</td>
          <td>
            @if(testsSummary.passCount > 0){<a href="@testsLink(TestStatus.Healthy)"><span class="badge badge-success">@testsSummary.passCount</span></a> Healthy }
            @if(testsSummary.warnCount > 0){<a href="@testsLink(TestStatus.Warning)"><span class="badge badge-warning">@testsSummary.warnCount</span></a> Warning }
            @if(testsSummary.failCount > 0){<a href="@testsLink(TestStatus.Broken)"><span class="badge badge-error">@testsSummary.failCount</span></a> Broken }
            <a id="total-test-count" href="@routes.Application.tests(configuration = Some(configuration), name = nameOpt, group = groupOpt, category = categoryOpt, sort = sortOpt, descending = descendingOpt)"><span class="badge badge-inverse">@testsSummary.totalCount</span></a> Total
          </td>
        </tr>
      </table>
      <form id="filter-form" role="form" action="@routes.Application.tests(configuration = Some(configuration), sort = sortOpt, descending = descendingOpt)">
	<table class="table table-striped table-bordered table-hover">
          <tr style="cursor: pointer;" id="filter-tests-header-bar">
            <td colspan="2">
              <i class="glyphicon glyphicon-filter"></i> Filter Tests
              <a style="@if(nameOpt.isDefined || groupOpt.isDefined || categoryOpt.isDefined) { display: none; }" id="expand-filter"><i class="fa fa-chevron-down"></i></a>
              <a style="@maybeHideFilters" id="collapse-filter"><i class="fa fa-chevron-up"></i></a>
            </td>
          </tr>
          <tr style="@maybeHideFilters" class="filter-widget">
            <td class="headings-table-column" title="Filter tests to those in a particular group. Supports * wildcards.">Group</td>
            <td>
              <input name="group" id="group-name-field" value="@{groupOpt.getOrElse("")}" class="form-control typeahead" type="text" placeholder="Any group"/>
            </td>
          </tr>
          <tr style="@maybeHideFilters" class="filter-widget">
            <td title="Filter tests to those with a particular name. Supports * wildcards.">Test name</td>
            <td>
	      <input name="name" id="test-name-field" value="@{nameOpt.getOrElse("")}" class="form-control typeahead" type="text" placeholder="Any test name"/>
            </td>
          </tr>
          <tr style="@maybeHideFilters" class="filter-widget">
            <td title="Filter tests to those in a particular category.">Category</td>
            <td>
	      <input name="category" id="category-field" value="@{categoryOpt.getOrElse("")}" class="form-control typeahead" type="text" placeholder="Any category"/>
            </td>
          </tr>
	</table>
	<input name="configuration" value="@configuration" type="hidden"/>
	<button style="float: right; @maybeHideFilters" id="filter-tests" type="submit" class="filter-widget btn btn-primary">Search</button>
      </form>
    </div> <!-- col-md-9 -->
    <div class="col-md-3">
      <div id="pie-chart" style="margin-top: 6px; width: 200px; height: 200px"></div>
      <script>
        $(document).ready(function(){
          createPieChart("pie-chart",
            {
              pass: @testsSummary.passCount,
              warn: @testsSummary.warnCount,
              fail: @testsSummary.failCount,
            },
            {
              pass: "@testsLink(TestStatus.Healthy)",
              warn: "@testsLink(TestStatus.Warning)",
              fail: "@testsLink(TestStatus.Broken)",
            }
          );
        });
      </script>
    </div> <!-- col-md-3 -->
  </div> <!-- row -->

  <br/>

  @if(tests.nonEmpty) {

  @if(canRerun) {
    <button style="margin-bottom: 12px" id="rerunSelected" type="button" class="btn btn-default" title="Rerun selected tests on Jenkins" onclick="performTestAction('@routes.CiController.rerunSelectedTests()')"><i class="glyphicon glyphicon-refresh"></i> Rerun Selected</button>
  }
  <button style="margin-bottom: 12px" id="deleteSelected" type="button" class="btn btn-default" title="Mark selected tests as deleted" onclick="performTestAction('@routes.Application.deleteTests()')"><i class="glyphicon glyphicon-trash"></i> Mark selected tests as deleted</button>
  <div style="clear: both;"></div>

  @testsPaginationWidget
  
  <ul class="nav nav-tabs">
    <li @if(testStatusOpt.isEmpty){ class="active" }>
      <a href="@routes.Application.tests(configuration = Some(configuration), name = nameOpt, group = groupOpt, category = categoryOpt, sort = sortOpt, descending = descendingOpt)">All</a>
    </li>
    @if(testsSummary.passCount > 0) {
      <li @if(testStatusOpt == Some(TestStatus.Healthy)){ class="active" }>
        <a href="@testsLink(TestStatus.Healthy)">Healthy<br/></a>
      </li>
    }
    @if(testsSummary.warnCount > 0) {
      <li @if(testStatusOpt == Some(TestStatus.Warning)){ class="active" }>
        <a href="@testsLink(TestStatus.Warning)">Warning<br/></a>
      </li>
    }
    @if(testsSummary.failCount > 0) {
      <li @if(testStatusOpt == Some(TestStatus.Broken)){ class="active" }>
        <a href="@testsLink(TestStatus.Broken)">Broken</a>
      </li>
    }
  </ul>

  <form style="margin-bottom: 0px; display: inline" id="testActionForm" action="nope" method="post">
    <input type="hidden" name="previousURL" value="@request.uri"/>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th style="text-align: center"><input class="testCheckbox" id="selectAll" type="checkbox" title="Select all"/></th>
          <th class="pass-fail-col">Status</th>
          <th class="pass-fail-col" style="white-space: nowrap">Weather @sortLink(Sort.Weather)</th>
          <th class="group-col">Group @sortLink(Sort.Group)</th>
          <th class="name-col">Name @sortLink(Sort.Name)</th>
          <th class="duration-col">Average duration @sortLink(Sort.Duration)</th>
          <th class="consecutive-failures-col">Consecutive failures @sortLink(Sort.ConsecutiveFailures)</th>
          <th class="failing-since-col">Started failing @sortLink(Sort.StartedFailing)</th>
          <th class="last-passfail-col">Last passed @sortLink(Sort.LastPassed)</th>
          <th class="last-passfail-col">Last failed @sortLink(Sort.LastFailed)</th>
      </thead>
      <tbody>
        @for(test <- tests) {
          <tr class="test-row">
            <td style="text-align: center; width: 50px"><input class="testCheckbox" type="checkbox" name="selectedTest" value="@test.id"/></td>
            <td class="pass-fail-cell">@for(icon <- test.ballIconOpt){<a href="@routes.Application.test(test.id, configuration = Some(configuration))"><img src="@routes.Assets.at("images/" + icon)"/></a>}</td>
            <td class="pass-fail-cell">@for(weatherInfo <- test.weatherInfoOpt){<img title="@weatherInfo.passRate" src="@routes.Assets.at("images/" + weatherInfo.iconPath)"/>}</td>
            <td class="center-vert">@for(group <- test.groupOpt) {<a href="@routes.Application.tests(configuration = Some(configuration), status = testStatusOpt, name = nameOpt, group = Some(group.full), category = categoryOpt, sort = sortOpt, descending = descendingOpt)"><span title="@group.full">@group.abbreviate(maxLength = 35)</span></a>}</td>
            <td class="center-vert"><a class="test-link" href="@routes.Application.test(test.id, configuration = Some(configuration))" title="@test.name.full">@test.name.abbreviate(maxLength = 40)</a></td>
            <td class="duration-cell">@for(duration <- test.medianDurationOpt){@duration}</td>
            <td class="consecutive-failures-cell">@for(consecutiveFailures <- test.consecutiveFailuresOpt){@consecutiveFailures}</td>            
            <td class="failing-since-cell">@for(failingSince <- test.failingSinceOpt){<span title="@failingSince.absolute">@failingSince.relative</span>}</td>
            <td class="last-passfail-cell">@for((executionId, time) <- test.lastPassedExecutionOpt){<a class="last-passed-link" href="@routes.Application.execution(executionId)" title="@time.absolute">@time.relative</a>}</td>
            <td class="last-passfail-cell">@for((executionId, time) <- test.lastFailedExecutionOpt){<a href="@routes.Application.execution(executionId)" title="@time.absolute">@time.relative</a>}</td>
          </tr>
         }
      <tbody>
    </table>
  </form>

  @testsPaginationWidget

  } else {

    <div class="panel panel-info">
      <div class="panel-heading">No results found</div>
      <div class="panel-body">
        No tests found matching your filters.
      </div>
    </div>

  }
  
}
